<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="application/json" id="mercure-url">
                {% if app.user %}
                    {{ mercure('http://localhost/user/' ~ app.user.id, { subscribe: 'http://localhost/user/' ~ app.user.id })|raw }}
{#                    {{ 'http://localhost/user/' ~ app.user.id }}#}
                {% endif %}
            </script>
        {% endblock %}
    </head>
    <body>
        <div class="header-top">
            <div class="header-top-left">
                <a href="{{ path('home') }}"  class="button-link">Главная</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}"  class="button-link">admin</a>
                {% endif %}
            </div>
            <div class="header-top-right">
                <a href="{{ path('cart') }}" title="Корзина" class="button-link"> 🛒</a>

                {% if app.user %}
                    <span>Здравствуйте, {{ app.user.username }}</span>
                    <a href="{{ path('app_logout') }}"  class="button-link">выйти</a>
                {% else %}
                    <a href="{{ path('app_login') }}"  class="button-link">войти</a>
                    <a href="{{ path('app_register') }}"  class="button-link">регистрация</a>
                {% endif %}
            </div>
        </div>
        <div class="page-container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
